{% extends "app/base.html" %}
{% load static %}
{% block left %}
  {% if request.user.is_authenticated %}
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
          <h5> Rôle: {{ request.user.username }}</h3>
          <p>Email: {{ request.user.email }}</p>
        </div>
      </div>
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<div class="col-12 col-lg-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Société : {{ customer.company }}</h5>
      <p class="card-text">{{ customer.first_name }} {{ customer.last_name }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Téléphone : {{ customer.phone_number }}</li>
      <li class="list-group-item">Email : {{ customer.email }}</li>
    </ul>
    <div class="card-body">
      <h5 class="card-title">Adresse:</h5>
      <p class="card-text">{{ customer.address }}</p>
      <p class="card-text">{{ customer.zipcode }} {{ customer.city }}</p>
    </ul>
  </div>
  <div class="card-body btn-container">
    {% if perms.app and perms.app.change_customer %}
    <a href="{% url 'customer-update' customer.slug %}" class="btn btn-info">Modifier</a>
    {% endif %}
    {% if perms.app and perms.app.delete_customer %}
    <a href="{% url 'customer-delete' customer.slug %}" class="btn btn-secondary">Supprimer</a>
    {% endif %}
  </div>
</div>
{% endblock %}
