<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Facturier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Connection
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="#">Hi {{ request.user.username }} </a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          <!-- <a class="dropdown-item nav-bar-login" href="#">Login</a> -->
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'customers-list' %}">Show customers</a>
          {% if perms.app and perms.app.add_customer %}
            <a class="dropdown-item" href="{% url 'customer-create' %}">Create customer</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'products-list' %}">Show products</a>
          {% if perms.app and perms.app.add_product %}
          <a class="dropdown-item" href="{% url 'product-create' %}">Create Product</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quotations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'quotations-list' %}">Show Quotations</a>
          <a class="dropdown-item" href="{% url 'bills-list' %}">Show Bills</a>
          {% if perms.app and perms.app.add_quotation %}
          <a class="dropdown-item" href="{% url 'quotation-create' %}">Create Quotation</a>
          {% endif %}
        </div>
      </li>
    </ul>
    {% if request.resolver_match.url_name == "customers-list" %}
    <form class="form-inline" method="get" action="{% url 'customers-list' %}">
      <div class="input-group">
        <input name="q" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                <i class="fa fa-search"></i>
            </button>
        </div>
      </div>
    </form>
    {% elif request.resolver_match.url_name == "products-list" %}
    <form class="form-inline" method="get" action="{% url 'products-list' %}">
      <div class="input-group">
          <input name="q" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                  <i class="fa fa-search"></i>
              </button>
          </div>
      </div>
    </form>
    {% elif request.resolver_match.url_name == "quotations-list" %}
    <form class="form-inline" method="get" action="{% url 'quotations-list' %}">
      <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04" name="q">
          <option selected>Choose...</option>
          {% for choice in choices %}
          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    {% elif request.resolver_match.url_name == "bills-list" %}
    <form class="form-inline" method="get" action="{% url 'bills-list' %}">
      <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04" name="q">
          <option selected>Choose...</option>
          {% for choice in choices %}
          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
</nav>
