{% extends "app/base.html" %} {% load static %} {% load math %} {% block left %} {% if request.user.is_authenticated %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
            <h5> Rôle: {{ request.user.username }}</h3>
          <p>Email: {{ request.user.email }}</p>
        </div>
      </div>
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<div class="col-12 row">
  <div class="col-12">
    <h3>Notre société</h3>
    <p>Rue Albert Einstein</p>
    <p>48000 MENDE</p>
    <p>téléphone: 06 06 06 06 06</p>
    <p>Siret: 1234546789</p>
  </div>
  <div class="offset-8 col-4">
    <h5>{{ quotation.customer.company }}</h5>
            <h6>{{ quotation.customer.first_name.capitalize }} {{ quotation.customer.last_name.upper }}</h6>
            <p>{{ quotation.customer.address }}</p>
            <p>{{ quotation.customer.zipcode }} {{ quotation.customer.city }}</p>
            {{ quotation.customer.phone_number }}
        </div>
        <div class="col-12">
            <h1>
    {% if quotation.status < 3 %}
      Devis n° {{ quotation.reference }}
    {% else %}
      Facture {{ quotation.reference }}
    {% endif %}
    </h1>
      {% if perms.app and perms.app.change_quotation %}
      <a class="x-editable-select btn btn-secondary" data-type="select" data-pk="{{ quotation.id }}" data-url="{% url 'quotation-update' quotation.id 'status' %}">
      {% for status in all_status %}
        {% if quotation.status == status.0 %}
          {{ status.1 }}
        {% endif %}
      {% endfor %}
      </a>
      {% else %}
      <h2>{{ quotation.get_status_display }}</h2>
      {% endif %}
        </div>
        <div class="offset-8 col-4">
            A Mende, le {% now "l, j F Y" %}
        </div>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix unité</th>
                    <th scope="col">Total</th>
                    <th scope="col">
                      {% if perms.app and perms.app.change_product or perms.app and perms.app.delete_product %}
                      Opérations
                      {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody class="mb-5" id="quotation-table">
                {% for line in quotation.productlist_set.all %}
                <tr class="single-line" id="tr-{{ line.id }}">
                    <th scope="row">{{ line.product.name }}</th>
                    <td class="td-editable">
                      {% if perms.app and perms.app.change_productlist %}
                      <a class="x-editable" data-pk="{{ line.id }}" data-url="{% url 'productlist-update' line.id 'quantity' %}">{{ line.quantity }}</a>
                      {% else %}
                      <a href="#">{{ line.quantity }}</a>
                      {% endif %}
                    </td>
                    <td class="price-field">{{ line.product.price }}</td>
                    <td class="total-field">{{ line.product.price|multiply:line.quantity }}</td>
                    <td class="operations">
                      {% if perms.app and perms.app.delete_productlist %}
                        <button data-url="{% url 'productlist-delete' line.id %}" type="button" class="btn btn-warning delete-btn">Delete</button>
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if perms.app and perms.app.add_productlist %}
                <tr id="line-to-add">
                    <form id="product_list_form" method="post" action="{% url 'productlist-create' quotation.id %}" >
                        {%csrf_token%}
                        <th scope="row">
                          {{ product_list_form.product }}
                        </th>
                        <td class="td-editable">
                          {{ product_list_form.quantity }}
                        </td>
                        <td class="price-field"></td>
                        <td class="total-field"></td>
                        <td class="operations">
                          <button action="{% url 'productlist-create' quotation.id %}" type="submit" class="btn btn-success create-btn">Valider</button>
                        </td>
                        {{ product_list_form.quotation }}
                    </form>
                </tr>
                {% endif %}





                <tr>
                    <th scope="row">Total</th>
                    <td></td>
                    <td></td>
                    <td class="total">{{ sum }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="col-12">
          {% if quotation.status < 3 %}
            Devis valable jusqu'au {{ quotation.limit_date }}
          {% else %}
            Facture à régler avant le {{ quotation.limit_date }}
          {% endif %}
        </div>
    </div>
    <a class="btn btn-danger" href="{% url 'generate-pdf' quotation.slug %}">Export PDF</a>
    {% endblock %}
