{% extends "app/base.html" %}
{% load static %}
{% block left %}
  {% if request.user.is_authenticated %}
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
          <h5> Rôle: {{ request.user.username }}</h3>
          <p>Email: {{ request.user.email }}</p>
        </div>
      </div>
  </div>
  {% endif %}
{% endblock %}
{% block content %}
<div class="col-12 col-md-6 offset-md-3">
  <form  id="quotation-form" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% for formset in inlines %}
        {% for form in formset %}
        <div>
          {{ formset.management_form }}
          {{ form.as_p }}
        </div>
        {% endfor %}
      {% endfor %}
      <br><button type="submit" class="btn btn-primary" name="button">Enregistrer</button>
  </form>
</div>

{% endblock %}
